%div.new
  %h5 Please submit your full name and email address to be notified when this collections drops.

  =render 'form'

-# %br
-# %br
-# %br
-# %br
-# %br
-# =link_to "BACK_TO_HOME", home_top_path
