
%body

  %div.about

    %h1 NOCTA
    %h3 "a nod to the artist's nocturnal creative process."
    %h6 Apparel Collection since 2020
    -# %br
    -# %br
    %div.text
      %p
        Following his “Laugh Now Cry Later” video,shot on location at Nike WHQ,and
        %br
        the release of the "Certified Lover Boy" album merchandise capsule, Drake
        %br
        and Nike launch a new sub-label, NOCTA. Ahead of the first NOCTA release,
        %br
        Drake shares his thoughts on the spirit of the project.
        %br
        %br
        -# %br

        %div.statement
          %p
            "This moment is full circle for me.I mean, growing up Nike was everything.
            %br
            It felt like every shoe I wanted, every athlete I liked, everything I owned
            %br
            was Nike. It didn’t mean anything unless it had a Swoosh. I remember watching
            %br
            all these athletes repping Nike each doing the unthinkable and how inspiring it was.
            %br
            I always felt like there was an opportunity for Nike to embrace an entertainer
            %br
            the same way they had athletes. I thought about how crazy it would have been and
            %br
            what it would have meant for an artist to have a flagship Nike deal.
            %br
            NOCTA is a realization of all these thoughts and everything I had hoped for from the culture
            %br
            it’s rooted in to the product and, most important, to the partnership and scale that allows me
            %br
            to share it with the world.NOCTA is about creating something for people on the move. People who
            %br
            want functional, comfortable fits that are adaptable from one environment to the next. But as much as
            %br
            it’s about what we make, it’s also about a mindset: an unforgiving drive, a relentlessness.
            %br
            Characterized by the type who are on the road all day, all night the grinders, the hard workers
            %br
            trying to accomplish their goals and taking no short cuts. That mindset also includes loyalty and team.
            %br
            Whether you are in Toronto, London or Paris, there's this uniform look — Nike Tech Fleece, the gloves,
            %br
            the hat and it has a real team feel. I wanted to take a piece of that culture that I grew up with,
            %br
            that school of thought, and bring the best to it. With NOCTA, we were trying to make the hardest jacket,
            %br
            the hardest tracksuit, the hardest gloves. Just the best of that world.This opportunity is something that
            %br
            I’ve been waiting on for a really long time. To be associated with the highest level possible
            %br
            that was always my goal. We put in a lot of hard work, a lot of man and woman hours, during the last two years.
            %br
            To see it all coming to fruition starts an exciting new chapter in my life."  -Drake.
            %br

    -# =image_tag '/ovonike.png'
    =image_tag '/NOCTA.jpg'
    -# =image_tag '/NOCTA.jpg'
    -# =image_tag '/NOCTA.jpg'
    %br
    =link_to "BACK_TO_HOME",home_top_path
    %br
  -# %img{:alt => "Flower", :src => "/ovoraps.jpg"}/
