
%body
  %div.store

    -# %h1 NOCTA
    -# %h3 by Drake and NIKE COLLECTION
    %p DRAKE x NIKE NOCTA 2020 COLLECTION: OFFICIAL IMAGES & RELEASE INFO

    -# %button.ncss-btn-primary-dark.btn-lg{"data-qa" => "notify-me-cta", :type => "button"} NOTIFY ME
    %div.pic

      =image_tag '/NOCTA1.jpg'
      =image_tag '/NOCTA2.jpg'
      %h4 Black Puffer Jacket $400
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"} NOTIFY ME
      %br

      =image_tag '/NOCTA3.jpg'
      =image_tag '/NOCTA4.jpg'
      %h4 Black Puffer Jacket $400
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"} NOTIFY ME
      %br

      =image_tag '/NOCTA5.jpg'
      =image_tag '/NOCTA6.jpg'
      %h4 University Gold Hoodie $120
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"} NOTIFY ME
      %br

      =image_tag '/NOCTA7.jpg'
      =image_tag '/NOCTA8.jpg'
      %h4 University Gold Fleece Pants $110
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"} NOTIFY ME
      %br

      =image_tag '/NOCTA9.jpg'
      =image_tag '/NOCTA10.jpg'
      %p Black Hoodie $120
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"} NOTIFY ME
      %br

      =image_tag '/NOCTA11.jpg'
      =image_tag '/NOCTA12.jpg'
      %h4 Black Fleece Pants $110
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"}

      =image_tag '/NOCTA13.jpg'
      =image_tag '/NOCTA14.jpg'
      %h4 Black Crew Socks $30
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"} NOTIFY ME
      %br

      =image_tag '/NOCTA15.jpg'
      =image_tag '/NOCTA16.jpg'
      %h4 White Crew Socks $30
      %p Available 12/19 at 7:00 AM
      %button{:onclick => "location.href='http://localhost:3000/users/new'"} NOTIFY ME
      %br
      %br
      %br
    =link_to "BACK_TO_HOME",home_top_path
    -# =link_to "NOTIFY", home_notify_path
