%body
  %div.top-main

    %h1 NOCTA
    %h3 THE WHOLE NEW CHAPTER by DRAKE and NIKE.

    -# %a{:href => "about"} ABOUT
    -# %a{:href => "pic"} PHOTO
    -# %a{:href => "store"} ONLINE STORE
    =link_to "NOCTA", home_about_path
    =link_to "PHOTO", home_pic_path
    =link_to "ONLINE STORE", home_store_path
    -# =link_to 'NOTIFY ME', new_user_path
    -# =link_to "NOTIFY", home_notify_path
